DATABASE_URL=postgresql://nfl_user:nfl_password@localhost:5432/nfl_predictor
REDIS_URL=redis://localhost:6379

# ESPN public API — NO KEY REQUIRED
ESPN_BASE_URL=https://site.api.espn.com/apis/site/v2/sports/football/nfl

# NFLverse — NO KEY REQUIRED
NFLVERSE_BASE_URL=https://github.com/nflverse/nflverse-data/releases/download

# MySportsFeeds — free hobbyist license at mysportsfeeds.com/data-feeds/signup
MYSPORTSFEEDS_API_KEY= b87e94c4-03f3-4f55-b325-346afb
MYSPORTSFEEDS_BASE_URL=https://api.mysportsfeeds.com/v2.1/pull/nfl

# OpenWeatherMap — free at openweathermap.org/api
OPENWEATHER_API_KEY= c02421b381336699294396f6e6b9f03f
OPENWEATHER_BASE_URL=https://api.openweathermap.org/data/2.5

# The Odds API — free tier at the-odds-api.com
ODDS_API_KEY= e949b99dec8e32f1316fb0e3f3a88d41
ODDS_BASE_URL=https://api.the-odds-api.com/v4

ANALYTICS_SERVICE_URL=http://localhost:8001
JWT_SECRET=change_this_to_a_long_random_secret
MODEL_RETRAIN_SCHEDULE="0 6 * * *"
PORT=3001
NODE_ENV=development

